.btn {
    @include bg-colors($ui-colors);
}

[class^="btn--"] {
    @extend %btn;
    margin-bottom: em(20px, 14px);
    text-align: center;
    width: 100%;
    
    @include mq(medium) { 
      width: 17%;
      display: inline-block;
      //padding-left: em(20px);
      //padding-right: em(20px);
      //display:flex;
      //justify-content: space-between;
    }
  }