.btn {
    @include bg-colors($ui-colors);
}

[class^="btn--"] {
    @extend %btn;
    margin-bottom: em(20px, 14px);
    text-align: center;
    width: 100%;
    
    @include mq(medium) { 
      width: 15%;
      display: inline-block;
      margin: 10px 25px;    
      }
    }