//grid system
//-----------------

//calculate grid columns
@include mq(medium) {
@for $i from 1 through $g-col-count {
    $context: g-context($g-col-width, $g-col-count ,$g-gutter-width) !global;  
    $target: ($g-col-width * $i) + ($g-gutter-width * ($i - 1));
    .grid__col--#{$i} {
        width: percentage($target / $context);
      }
}
}

//grid themes

.theme__colors.grid {
    &__col {
      @include bg-colors($col-colors);
      
    }
 }

[class*="grid__col--"] {
    @include mq(small) {
        margin-top: em(56px);
        margin-bottom:  em(12px);    
    }
    @include mq(medium) {
        float: left;
        min-height: 1px;
        padding-left: 10px;
        padding-right: 10px;
        &:last-of-type {
            float: right;
        }
    }
}

//centered class
.centered {
	float: none;
	margin-left: auto;
	margin-right: auto;
}
.grid {
    &__row{
    width: 90%;
    @extend %clearfix;
    @extend .centered;
    }
}