//grid system
//-----------------

//calculate grid columns
@mixin g-columns {
@for $i from 1 through $g-col-count {
    $context: g-context($g-col-width, $g-col-count ,$g-gutter-width) !global;  
    $target: ($g-col-width * $i) + ($g-gutter-width * ($i - 1));
    .grid__col--#{$i} {
        width: percentage($target / $context);
      }
}
}

//grid themes

.theme__colors.grid {
    &__col {
      @include bg-colors($col-colors);
      
    }
 }

[class*="grid__col--"] {
    @include g-columns;    
    }
    @include mq(medium) {
        @include g-columns;
        float: left;
        min-height: 1px;
        padding-left: 10px;
        padding-right: 10px;
        
    }

//centered class
.centered {
	float: none;
	margin-left: auto;
	margin-right: auto;
}
.grid {
    &__row {
    width: 90%;
    @extend %clearfix;
    @extend .centered;
    //to evenly space grid colored columns for 769px
    @include mq(medium){
    display:flex;
    justify-content: space-between;
    flex: auto;
    }
    }
    
}
//few fixes for grid col7, 4 and 3 
.grid__row .centered{
        @extend .centered;
}
/*
@include mq(medium){
    [class*=grid__col--4],
    [class*=grid__col--3]{
        display: flex;
        justify-content: space-between;
    }
}
*/