//images
.img {
    &--frame {
    border: 1px solid palette(grey, light);
    padding: em(12px);
    max-width: 100%;
    height: auto;
    display: block;
    margin: auto;
    }

&--avatar {
    max-width: 100%;
    height: auto;
    display: block;
    margin: auto;
    margin-top: em(20px);
        
    }
}