    
    .img--logo {
        @include flexcol;
        
    }
    .nav{
    @include flexcol;
    margin-top : em(40px);
    margin-bottom: em(34px);
    @include e(item) {
      padding-left: em(6px);
    @extend %nav-item-disp;
    a {
        @extend %nav-item-link;
        color: palette(grey, x-dark);
        &:hover {
            @extend %nav-item-on;
        }
    }
    
    a[href^="#type"] {
        @extend %nav-item-on;
    }
  }
}

@include mq(medium){
    .nav {
        flex-direction: row;
        justify-content: center;
        flex-wrap: wrap;
    }
    .img--logo {
        margin-top: em(24px);
        width: 165px;
        margin-right: auto;
    }
}